NESSIE_BASE_URL=https://prod-api.nessieisreal.com
NESSIE_API_KEY=
SPACETIME_DB_NAME=aval
SPACETIME_HOST=localhost:3000
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
ELEVENLABS_API_KEY=
AZURE_STATIC_WEB_APPS_TOKEN=
